<div class="page">
  <ngx-graph #graph [panToNode$]="center$" inViewport [layout]="'dagreCluster'" [links]="links" [nodes]="nodes"
    [curve]="curve" [draggingEnabled]="false" [autoCenter]="true" [layoutSettings]="setting" [update$]="update$"
    [center$]="center$" [zoomToFit$]="zoomToFit$">
    <ng-template #nodeTemplate let-node let-index>
      <svg:g>
        <image class="main-img" [attr.xlink:href]="node.img" (click)="alert()"/>
      </svg:g>
      <svg:g x="50%" y="50%" style="transform: translate(27px,-20px)">
        <text dominant-baseline="middle" [attr.width]="node.dimension.width" [attr.x]="10"
          height="30">{{node.label}}</text>
      </svg:g>
    </ng-template>

    <ng-template #linkTemplate let-link>

      <svg:g class="edge">

        <svg:text font-weight="bold" class="edge-label" text-anchor="middle" line-height="10"
          [attr.dy]="link.dominantBaseline === 'text-after-edge' ? '-10px':'10px'">

          <textPath font-size="14" class="text-path" [attr.href]="'#' + link.id"
            [style.dominant-baseline]="link.dominantBaseline" startOffset="40%">

            {{link.label}}
          </textPath>
        </svg:text>

        <svg:path id="line" #line class="line" stroke-width="4" marker-end="url(#arrow)"
          [attr.stroke-dasharray]="link.level" [attr.stroke-width]="link.thickness" [attr.stroke]="link.color">

        </svg:path>
      </svg:g>
    </ng-template>
  </ngx-graph>
</div>